* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

html {
	background: #323232;
}

.app {
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;

	&__board {
		min-width: 300px;
		min-height: 300px;
		border: 1px solid #b9a972;
		border-radius: 15px;
		padding: 15px;
	}

	&__title {
		text-align: center;
		color: Chocolate;
		font-style: italic;
		margin-bottom: 15px;
		user-select: none;

		&_planned {
			color: #ff9f5a;
		}

		&_inProcess {
			color: #dde928;
		}

		&_finished {
			color: #14cd1a;
		}
	}

	&__task {
		border-radius: 15px;
		padding: 5px 15px;
		background: snow;
		cursor: grab;
		transition: all 0.1s linear;

		&:hover {
			box-shadow: 0px 0px 3px 1px yellow;
			transform: scale(1.01);
		}

		&:not(:last-child) {
			margin-bottom: 7px;
		}

		p {
			text-align: center;
			user-select: none;
			cursor: grab;
		}
	}
}